<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150520271583-4v5delkv0nprfu17fkssvq5riqi1juc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150520271583-4v5delkv0nprfu17fkssvq5riqi1juc4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>150520271583-ar3b2282j73bpo1u5lh2evf70uu7412i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClrVTCudw9ul1AasZLwBY7ipp-Oyun0Cg</string>
	<key>GCM_SENDER_ID</key>
	<string>150520271583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ymrabtiapps.thumbnails.thumbnailYoutube</string>
	<key>PROJECT_ID</key>
	<string>youneswhatsapp-19dfa</string>
	<key>STORAGE_BUCKET</key>
	<string>youneswhatsapp-19dfa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150520271583:ios:a9f542ccae22900dafcf6a</string>
	<key>DATABASE_URL</key>
	<string>https://youneswhatsapp-19dfa.firebaseio.com</string>
</dict>
</plist>